<% layout('/layouts/boilerplate'); %>
<div class="d-flex align-items-center justify-content-center" id="brewHeader">
    <h1>All Breweries</h1>
</div>



<% for (let brewery of breweries) { %>

<div class="row ">
    <div class="col-lg-10 col-md-11 col-sm-11 col-12 mx-auto ">
        <div class="card border-dark mb-3 bg-dark ctext1  ">
            <div class="row border-dark index-card">
                <div class="col-md-4  col-lg-4 col-xl-3" id="imgwrap">
                    <% if (brewery.images[0]) { %>
                    <img class="" alt="" src="<%=brewery.images[0].url%>">
                    <% } %>
                </div>
                <div class="col-md-8 col-lg-8 col-xl-9 d-flex">

                    <div class="card-body border-dark d-flex flex-column">
                        <h3 class="card-title mb-3 capitalize"><%= brewery.name %> </h3>
                        <p class="card-text">
                            <small class="text-muted capitalize"><%= brewery.location%></small>
                        </p>
                        <div class="brew-description mb-2">
                            <p class="card-text card-description"><%= brewery.description %></p>
                        </div>

                        <div class="d-flex justify-content-end mt-auto">
                            <div class="">
                                <a class="btn btn-outline-light btn3" href="/breweries/<%=brewery._id%> ">View
                                    Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%} %>


<!-- <div class="d-flex justify-content-center align-items-center">
    <a href="/breweries/new" class="btn btn-dark btn-lg mb-3">Add a Brewery</a>
</div> -->