<% layout('/layouts/boilerplate'); %>

<h1 class="roboto"><%=brewery.name%></h1>
<h2 class="roboto"><%=brewery.location%></h2>
<img src="<%=brewery.photoURL%>" alt="">
<p class="roboto"><%=brewery.description%></p>


<a href="/breweries" class="roboto">Return to All Breweries</a>
<a href="/breweries/<%=brewery._id%>/edit" class="roboto">Edit this Brewery</a>