<% layout('/layouts/boilerplate'); %>


<div class="row d-flex justify-content-center align-items-center mt-3">
    <div class="col-lg-8 col-xxl-6 col-xl-7 col-md-10 col-sm-11 col-xs-12">
        <div class="card border-dark text-white bg-dark mb-3">
            <img src="<%= brewery.photoURL%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= brewery.name%></h5>
                <p class="text-muted"><%= brewery.location%></p>
                <p class="card-text"><%= brewery.description%></p>
            </div>
            <div class="card-body">
                <a class="card-link btn btn-primary" href="/breweries/<%=brewery._id%>/edit">Edit</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>


        <div id="reviews" class="mb-3 d-flex justify-content-center flex-column">
            <%for (let review of brewery.reviews) { %>
            <div class="card mb-3 bg-dark ctext1">
                <div class="card-body">
                    <%=review.rating%>/5
                    <br>
                    <%=review.body%>
                </div>
                <div class="d-flex justify-content-end mt-auto">
                    <div class="me-2 mb-2">
                        <form action="/breweries/<%=brewery._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-outline-danger ">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <%}%>
        </div>    

        <div class="mb-3 d-flex justify-content-center flex-column">
            <div class="card bg-dark ctext1 px-3 pt-4 pb-2">
            <h2>Leave a Review</h2>
            <form action="/breweries/<%=brewery._id%>/reviews" method="POST" class="validated-form" novalidate>
            <div class="d-flex flex-column mt-2">

                <div class="mb-3 d-flex flex-column">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating">


                </div>

                <div class="mb-3 d-flex flex-column">
                    <label for="body" class="form-label">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="50" rows="4" required></textarea>

                </div>
                <div class="mb-3 ">
                    <button class="btn btn-success">Submit</button>
                </div>

            </div>
            </form>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-3">
        <a href="/breweries" class="btn btn-dark">Return to All Breweries</a>
    </div>
</div>
</div>