<% layout('/layouts/boilerplate'); %>


<div class="row d-flex justify-content-center align-items-center">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= brewery.photoURL%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= brewery.name%></h5>
                <p class="text-muted"><%= brewery.location%></p>
                <p class="card-text"><%= brewery.description%></p>
            </div>
            <div class="card-body">
                <a class="card-link btn btn-primary" href="/breweries/<%=brewery._id%>/edit">Edit</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-center align-items-center mb-3">
        <a href="/breweries" class="btn btn-dark">Return to All Breweries</a>
    </div>

</div>